<h2>File Upload</h2>

<div ng-controller="DemoFileUploadController">
    <form id="fileupload" method="post" enctype="multipart/form-data" file-upload="options">
        <div class="row">
            <div class="col-lg-7">
                <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Add files...</span>
                    <input type="file" name="files[]" accept=".csv, .xlsx" ng-disabled="disabled">
                </span>

                <button type="button" class="btn btn-primary start" ng-click="submit()">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start upload</span>
                </button>
            </div>

            <div class="col-lg-5 fade" ng-class="{in: active()}">
                <div class="progress progress-striped active" file-upload-progress="progress()"><div class="progress-bar progress-bar-success" ng-style="{width: num + '%'}"></div></div>
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3" ng-bind="queue[0].name"></div>
        </div>
    </form>
</div>